@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0}
body{font-family: '微软雅黑';}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:16px;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
a,u{text-decoration:none;}
img{border:0;display:block;}
ul,ol,li{list-style:none;}
input{outline:none;}
.clear-fix:after{content:".";clear:both;display:block;height:0;overflow: hidden;visibility: hidden;}

/* 头部 */
#top{
	height:32px;
	background:#f7f7f7;
	border-bottom: 1px solid #ccc;
	.top-box{
		height:32px;
		width:1200px;
		margin:0 auto;
		.top-content{
			height:32px;
			width:440px;
			background:url(../images/notice.png) no-repeat 315px 6px;
			float:right;
			position:relative;
			.ord{
				margin-right:28px;
			}
			
			span{
				font-size:12px;
				color:#808080;
				margin-right:10px;
				line-height:32px;

			}
			.log,.reg,.ord,.not{
				cursor:pointer;
			}
			#code-img{
				position:absolute;
				right:20px;
				top:24px;
				display: none;
			}
			.pic{
				display: inline;
				margin-right:4px;
			}
			.pic img{
				display:inline;
				float:right;
				margin:6px 4px 0 0;
				cursor: pointer;
			}

		}
	}
}


/* 搜索框部分 */
#search{
	height:90px;
	width:1200px;
	margin:0 auto;
	.sear-box{
		height:90px;
		width:440px;
		float:right;
		.inp{
			height:30px;
			width:440px;
			padding-top:26px;
			#sear-v{
			height:28px;
			width:255px;
			border:1px solid #c9caca;
			float:left;
			line-height:28px;
			padding-left:5px;
			}
			#sear-btn{
				height:30px;
				width:47px;
				border:1px solid #c9caca;
				border-left:0px;
				color:#fffffd;
				background:#b81b22;
				font-size: 12px;
				float:left;
				cursor:pointer;
			}
			#shop{
				height:30px;
				width:108px;
				background:#b81b22;
				color:#fff;
				border:0;
				float:right;
				cursor:pointer;
			
				
			}
				.shoptext{
					min-height: 26px;
					width:330px;
					border:1px solid red;
					position: relative;
					background:red;
					top:30px;
					left:108px;
					z-index: 100001;
					display: none;
					li{
						height:60px;
						width:286px;
						border-top: 1px solid #ececec;
						border-bottom: 1px solid #ececec;
						margin-top: 20px;
						margin-left: 20px;
						margin-bottom: 30px;
						font-size: 12px;
						img{
							float:left;
							height:36px;
							width:36px;	

						}
						.text{
							float:left;
							margin-left: 3px;
							p{
								width:110px;
								overflow: hidden;
								 text-overflow:ellipsis;
								 white-space:nowrap;
							}
						}
						.del{
							margin-left: 80px;
							float: left;
							cursor: pointer;
						}
					}
				}
		}
		.sear-text{
			height:34px;
			width:440px;
			p{
				font-size: 12px;
				color:#727171;
				margin-left:12px;
				line-height:34px;
				a{
					color:#727171;
					padding-left: 5px;
					margin-right:5px;
				}
			}
		}
		
	}
}


/* logo */
#logo{
	z-index: 10000;
	height:77px;
	width:1200px;
	margin:0 auto;
	position: relative;
	.logo-img{
		height:77px;
		width:200px;
		float:left;
	}

	.nav{
		height:77px;
		width:1000px;
		float:left;
		#hot{
			background:url(../images/icon_hot.png) no-repeat 70px top;
		}
		#new{
			background:url(../images/new_0308.png) no-repeat 70px top;
		}
		>li{
			float:left;
			margin-top: 30px;
			height:20px;
			width:98px;	
			text-align: center;
			border-right: 1px solid #888888;
			.na{
				position:absolute;
				top:66px;
				border:1px solid #727171;
				border-top:0;
				width:96px;
				left:299px;
				display: none;
				background:#fff;
				li{
					margin-top: 14px;
					text-align: center;
					a{
						color:#888;
					}
				}
			}
			.na1{
				position:absolute;
				top:66px;
				border:1px solid #727171;
				border-top:0;
				width:96px;
				left:398px;
				display: none;
				background:#fff;
				li{
					margin-top: 14px;
					text-align: center;
					a{
						color:#888;
					}
				}
			}
			.na2{
				position:absolute;
				top:66px;
				border:1px solid #727171;
				border-top:0;
				width:96px;
				left:497px;
				display: none;
				background:#fff;
				li{
					margin-top: 14px;
					text-align: center;
					a{
						color:#888;
					}
				}
			}
			.na3{
				position:absolute;
				top:66px;
				border:1px solid #727171;
				border-top:0;
				width:96px;
				left:596px;
				display: none;
				background:#fff;
				li{
					margin-top: 14px;
					text-align: center;
					a{
						color:#888;
					}
				}
			}
			.na4{
				position:absolute;
				top:66px;
				border:1px solid #727171;
				border-top:0;
				width:96px;
				left:695px;
				display: none;
				background:#fff;
				li{
					margin-top: 14px;
					text-align: center;
					a{
						color:#888;
					}
				}
			}
			.na5{
				position:absolute;
				top:66px;
				border:1px solid #727171;
				border-top:0;
				width:96px;
				left:794px;
				display: none;
				background:#fff;
				li{
					margin-top: 14px;
					text-align: center;
					a{
						color:#888;
					}
				}
			}
			.na6{
				position:absolute;
				top:66px;
				border:1px solid #727171;
				border-top:0;
				width:96px;
				left:893px;
				display: none;
				background:#fff;
				li{
					margin-top: 14px;
					text-align: center;
					a{
						color:#888;
					}
				}
			}
			.na7{
				position:absolute;
				top:66px;
				border:1px solid #727171;
				border-top:0;
				width:96px;
				left:993px;
				display: none;
				background:#fff;
				li{
					margin-top: 14px;
					text-align: center;
					a{
						color:#888;
					}
				}
			}
			.na8{
				position:absolute;
				top:66px;
				border:1px solid #727171;
				border-top:0;
				width:96px;
				left:1091px;
				display: none;
				background:#fff;
				li{
					margin-top: 14px;
					text-align: center;
					a{
						color:#888;
					}
				}
			}
			>a{
				
				padding-bottom: 12px;
				width:98px;
				color:#727171;
				font-size: 16px;
				padding-bottom: 10px;
				display: block;				
			}
			
		}
		.last{
				border:0;
		}
	}
	
}

/* 进入导航部分 */
#close-nav{
	height:85px;
	width:1200px;
	margin:0 auto;
	.close-top{
		font-size: 12px;
		color:#333333;
		margin:22px 0;
	}
	.close-btm{
		margin-left: 10px;
		.span1{
			font-size: 18px;
			font-weight: 900;
			color:#333333;
		}
		.span2{
			font-size: 12px;
			color:#a10000;
			margin-left: 16px;
		}
		.span3{
			float:right;
			font-size: 14px;
			color:#808080;
		}
	}
}


/* 商品价格详情 */

#detail{
	height:447px;
	width: 1200px;
	margin:0 auto;
	border-top: 1px solid #e5e6e6;
	border-bottom: 1px solid #e5e6e6;
	padding-top:30px;
	position:relative;
	.small-img{
		width:152px;
		height:447px;
		float:left;
		.img-one{
			margin-top:0;
		}
		
		img{	
			width:68px;
			height:68px;
			margin-bottom:11px;
			cursor: pointer;
			border:1px solid #b4b4b4;
		}
		.active{
			border:1px solid #a10000;
		}

	}
	.big-img{
		width:482px;
		height:447px;
		float:left;
		position: relative;
		div{
			height:400px;
			width:400px;
			display: none;
			.float{
				height:220px;
				width:200px;
				background:#fff;
				opacity: 0.3;
				position: absolute;
				z-index: 1;
				display: none;
			}
			.mark1{
				height:400px;
				width:400px;
				background:#ddd;
				position: absolute;
				z-index: 1;
				opacity: 0;

			}
			img{
				height:400px;
				width:400px;
				/* display: none; */
				//z-index: 1000;
				position: relative;
			}
		}
		
		.img-b{
			display: block;
		}
	}
	#big-pic{
		position:absolute;
		height:400px;
		width:440px;
		overflow: hidden;
		left:555px;
		top:-20px;
		display: none;
		img{
			position: absolute;
		}
	}
	.img-detail{
		height:447px;
		width:566px;
		float:left;
		.price{
			height:48px;
			width:446px;
			font-size: 12px; 
			color:#a10000;
			span{
				font-size: 18px;
				margin-right: 20px;
			}
		}
		.close-co{
			font-size: 12px;
			color:#666666;
			width:566px;
			height:62px;
			span{
				float:left;
			}
			img{
				float:left;
				border:1px solid #a10000;
			}
		}
		.size{			
			height:47px;
			width:566px;

			p{
				font-size: 10px;
				color:#333333;
				.close-size{
					font-size: 12px;
					color:#666666;
					border:0!important;
				}
				.spc{border:1px solid red}
				span{
					border:1px solid #666666;
					padding:8px 11px;
					margin-right: 5px;
				}
			}
			
		}
		.num{
			height:40px;
			width:566px;
			.num1{
				font-size: 12px;
				color:#666666;
				float: left;
			}
			.num2{
				font-size: 8px;
				color:#000;
				height:18px;
				width:41px;
				border:1px solid #dbdfe6;
				display: block;
				line-height: 18px;
				float:left;
				padding:0px 5px;
				.num3{
					float:left;
					position: relative;
					z-index: 100;
					div{
						height:160px;
						position: absolute;
						left:-6px;
						width:51px;
						text-align: center;
						border:1px solid #dbdfe6;
						display: none;
					}

				}
				.num4{
					float:right;
				}
			}

		}
		.change{
			height:32px;
			width:566px;
			font-size: 12px;
			.chan1{
				color:#666666;
			}
			.chan3{
				color:#a10000;
				margin-left: 16px;
			}
		}
		.buy{
			height:53px;
			width:566px;
			.buy1{
				display: block;
				float:left;
				height:32px;
				width: 166px;
				background:#f7abaf;
				border:1px solid #b71b21;
				line-height: 32px;
				text-align: center;
				color:#a50309;
			}
			.buy2{
				height:33px;
				width:168px;
				background:#b81c22;
				color:#fff;
				display: block;
				float: left;
				margin-left: 20px;
				text-align: center;
				line-height: 33px;
			}
		}
		.sale{
			height:20px;
			width:566px;
			line-height: 20px;
			span{
				font-size: 12px;
				color:#a20000;
			}
		}
		.free{
			height:32px;
			width:355px;
			border-bottom: 1px solid #a20000;
			line-height: 16px;
			.free1{
				float:left;
				display: block;
				height:16px;
				width:34px;
				background:#b81c22;
				color:#fff;
				font-size: 12px;
				text-align: center;
			}
			.free2{
				color:#666666;
				font-size: 12px;				
				margin-left: 5px;

			}
		}
	}
}

/* 售后服务 */

#serve{
	height:26px;
	width:1198px;
	border:1px solid #d6adad;
	background: #fff6f7;
	margin:0 auto;
	margin-top: 8px;
	line-height: 26px;
	font-size: 12px;
	color:#666666;
	p{
		margin-left: 15px;
		span{
			color:#a10000;
		}
	}
	
}

/* 产品属性 */

#att{
	height:112px;
	width:1200px;
	margin:0 auto;
	margin-top:41px;
	.p1{
		font-size: 12px;
		color:#999999;
	}
	.att-box{
		height:40px;
		width:1200px;
		background:#f9f9f9;
		.span1{
			height:18px;
			width:192px;
			border-right: 1px solid #fff;
			display: block;
			float:left;
			font-size: 12px;
			color:#333333;
			margin-top: 10px;
			margin-left: 10px;
			.span3{
				color:#a10000;
			}
		}
		.span2{
			height:18px;
			width:228px;
			border-right: 1px solid #fff;
			display: block;
			float:left;
			font-size: 12px;
			color:#333333;
			margin-top: 10px;
			margin-left: 10px;
			.span3{
				color:#a10000;
			}
		}
	}
	.p2{
		font-size: 12px;
		margin-top: 16px;
		color:#999999;
		font-weight: 700;
	}
	.p3{
		font-size: 12px;
		color:#999999;
		margin-top: 6px;
	}
}

/* 产品尺码 */

#cloth-size{
	height:30px;
	width:1200px;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	margin: 0 auto;
	margin-top: 56px;
	
}

/* 尺码图片 */
#size-pic{
	margin:33px 0 0 110px;
}

/* 产品介绍图 */
#pic1{
	height:623px;
	width:1200px;
	margin:0 auto;
}

/* 衣服图 */
#pic2{
	height:706px;
	width:1200px;
	margin:0 auto;
}

/* 介绍图 */
#pic3{
	height:420px;
	width:1200px;
	margin:0 auto;
}

/* 舒适度调查图 */
#pic4{
	height:1053px;
	width:1200px;
	margin:0 auto;
}

/* T恤介绍图 */

#pic5{
	height:732px;
	width:1200px;
	margin:0 auto;
}

/* 万能衫 */
#pic6{
	height:876px;
	width:1200px;
	margin:0 auto;
}

/* 立体剪切 修身版型 */

#pic7{
	height:879px;
	width:1200px;
	margin:0 auto;
}

/* 有用的设计 */
#pic8{
	height:1000px;
	width:1200px;
	margin:0 auto;
}

/* 图标 */
#pic9{
	height:522px;
	width:1200px;
	margin:0 auto;
}

/* 人物 */
#pic10{
	height:669px;
	width:1200px;
	margin:0 auto;
}

/* 最后 */

#pic11{
	height:412px;
	width:1200px;
	margin:0 auto;
}


/* 底部导航 */
#btm-nav{
	height:202px;
	width:1138px;
	border:1px solid #e0e0e1;
	margin:0 auto;
	margin-top: 30px;
	padding:30px 40px;
	.btm-nav-t{
		height:138px;
		width:1138px;
		.one{
			height:138px;
			width:370px;
			border-right:1px solid #e0e0e1;
			float:left;
			text-align: center;
			img{
				margin:30px 164px;
				cursor: pointer;
			}
			span{
				height:32px;
				width:156px;
				display: block;
				background:#b81c22;
				color:#e8e9ff;
				font-size: 12px;
				line-height: 32px;
				margin-left: 106px;
				text-align: center;
				cursor: pointer;
			}
		}
		.two{
			height:138px;
			width:370px;
			border-right:1px solid #e0e0e1;
			float:left;
			text-align: center;
			img{
				margin:28px 164px;
				cursor: pointer;
			}
			p{
				font-size: 12px;
				color:#957194;
				margin-top: 8px;
				cursor: pointer;
			}
		}
		.btm-nav-right{
			border-right: 0;
			height:138px;
			width:370px;
			float:left;
			text-align: center;
			img{
				height:98px;
				width:98px;
				margin-left: 135px;
			}
			p{
				font-size: 12px;
				color:#727171;
				margin-top:20px;
				span{
					color:#a10000;
				}
			}
		}
	}
	.btm-nav-b{
		width:1138px;
		height:56px;
		background:#f8f8f8;
		margin-top: 22px;

		li{
			float:left;
			height:25px;
			border-right:1px solid #dadadb;
			line-height: 25px;			
			text-align: center;
			margin-top: 16px;
			a{
				margin:16px 67px;
				font-size: 12px;
				color:#323232;
			}
			
		}
		.a-last{
				border-right:0!important;
			}
	}
}

/* bottom */
#bottom{
	height:160px;
	border-top:1px solid #3e3a39;
	margin-top: 25px;
	.bottom-box{
		height:145px;
		width:1200px;
		margin:0 auto;
		text-align: center;
		p{
			font-size: 12px;
			color:#3e3a39;
			margin-top: 15px;
		}
		.bg1{
			height:40px;
			width:112px;
			margin-top: 35px;
			margin-left:235px;
			background:url(../images/spritesbgtop.png) no-repeat 0px -582px;
			float:left;
			cursor: pointer;
		}
		.bg2{
			height:45px;
			width:156px;
			background:url(../images/spritesbgtop.png) no-repeat 0px -629px;
			float: left;
			margin-top: 33px;
			margin-left:20px;
			cursor: pointer;

		}
		.bg3{
			width:245px;
			height:42px;
			background:url(../images/spritesbgtop.png) no-repeat 0px -674px;
			float: left;
			margin-top: 35px;
			margin-left:20px;
			cursor: pointer;
			
		}
		.bg4{
			height:58px;
			width:160px;
			float:left;
			margin-left: 10px;
			margin-top: 33px;
			cursor: pointer;
			img{
				height:48px;
				width:160px;
			}
		}

	}
}
